@import "tailwindcss";

:root {
  --green-500: #00ff66;
}

@theme inline {
  --color-green-500: var(--green-500);

  --font-cabin-variable: "CabinetGrotesk-Variable", sans-serif;
}

@font-face {
  font-family: "CabinetGrotesk-Variable";
  src: url("/fonts/CabinetGrotesk-Variable.woff2") format("woff2"),
    url("/fonts/CabinetGrotesk-Variable.woff") format("woff"),
    url("/fonts/CabinetGrotesk-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #91ffb683;
  border-radius: 4px;
  border: 2px solid transparent;
}